# https://colab.research.google.com/

# Apprendre à coder en Python pour l'Intelligence Artificielle
Episode 1 - Variables, Structures et fonctions

<p align="center">
<a href="https://youtu.be/8fCtWNnBNFc" target="_blank" ><img  src="https://raw.githubusercontent.com/anisayari/Youtube-apprendre-python-intelligence-artificielle/master/utils/cover-serie-1.png" width="800" height="auto"/></a>
</p>

# Pourquoi Python ?!
Python est un langage de haut niveau, facilement compréhensible, accessible et très utilisé.

<p align="center">
<img  src="https://raw.githubusercontent.com/anisayari/Youtube-apprendre-python-intelligence-artificielle/master/utils/1-utils/pq_python.jpg" width="800" height="auto"/></a>
</p>

Le top 5 des langages à apprendre en 2020 - Vidéo Youtube

<a href="https://youtu.be/9NMoIsSOMX4" target="_blank" ><img  src="https://i9.ytimg.com/vi/9NMoIsSOMX4/maxresdefault.jpg?time=1586948789746&sqp=CNzU2_QF&rs=AOn4CLDQb3o52k6WJ6w-3rGlB89JukxbDg" alt="#1-AlDLaT" width="500" height="auto"/></a>

# Les variables et types de variables

In [ ]:
print("hello world")
print("Bonjour")
'bonjour'

hello world
Bonjour

'bonjour'

In [ ]:
a = 10
print(f'La variable A = {a}')

La variable A = 10

In [2]:
#Integer 0,1,2,3 (N) #int
variable1 = 10
print(variable1)
print(type(variable1))

#Float 0.5,1.87
variable2 = 10.0
print(variable2)
print(type(variable2))

#String 'Nathan' chaine de caractères #str
variable3 = 'Stade Toulousain'
print(variable3)
print(type(variable3))

10
<class 'int'>
10.0
<class 'float'>
Stade Toulousain
<class 'str'>

In [ ]:
print(int(15.2))
# convertir float > int, convert str (si nombres) > float

15

In [ ]:
#Boolean True, False, 1, 0
print(1 == 0) # égalité ==

print(1 < 0) # Inférieur <
print(1 <= 0) #inf ou égal <=

print(1 > 0) # Suppérieur >
print(1 >= 0) #supp ou égal >=

print(1 !=0) # Différent !=

print(bool(1),bool(0))

False
False
False
True
True
True
True False

In [ ]:
#Tuple (1,0) #toujours entre ()
variable4 = (1,0)
print(variable4)
print(type(variable4))

#list [1,0, 'OM','PSG', 'OL']
variable5 = [1,0, 'OM','PSG', 'OL']
print(variable5)
print(type(variable5))

#Dict {'P' : 'Pomme'}
variable6 = {'P' : ['Profil','Papa','Peloton','Pomme'],
             'Anis': ['Eau','Calvier','Souris']}
print(variable6)
print(type(variable6))

(1, 0)
<class 'tuple'>
[1, 0, 'OM', 'PSG', 'OL']
<class 'list'>
{'P': ['Profil', 'Papa', 'Peloton', 'Pomme'], 'Anis': ['Eau', 'Calvier', 'Souris']}
<class 'dict'>

# Les structures de contrôle

In [5]:
#if else / elif permet de mettre des condition
variable1000 = "PSG"

if variable1000 == "PSG":
  print("c'est le PSG")
elif variable1000 == "Stade Toulousain":
  print("c'est le stade")
else:
  print("ce n'est aucun des deux")

c'est le PSG

In [12]:
#Boucle for <varibale> in <list>:
#NEVER REOAAT YOURSELF

for i in [0,1,2,3]:
  print(i)
  print(variable1000)

for i in range(10): #print uniquement jusquà 9 commence à 0
  print(i)

del i

0
PSG
1
PSG
2
PSG
3
PSG
0
1
2
3
4
5
6
7
8
9

In [17]:
#while tant que
i = 0
while(i!=10):
  print(i)
  i = i+ 1

0
1
2
3
4
5
6
7
8
9

# Les fonctions

In [18]:
#Fonction def NOM_FONCTION(ARGUMENT) Argument = les variables qui vont être utilisées dans la fonction
def mean(number1, number2):
  mean_of_two_numbers = (number1 + number2) / 2
  return mean_of_two_numbers

mean(10,20)
mean(15,20)

15.0

In [ ]:
mean_of_two_numbers #Les variables des fonctions ne vivent pas à l'extérieur des fonctions

NameError: ignored